{# templates/editorjs/embed.html #}
<div class="my-6 flex items-center justify-center">
{% if data.service == "youtube" or data.service == "vimeo" or data.service == "twitch-video" %}
        <iframe src="{{ data.embed }}" width="{{ data.width }}" height="{{ data.height }}"
                class="mx-auto aspect-video w-2/3 h-fit border-none rounded-lg shadow-xl"
                title="{{ data.service|title }} Video"
                allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                loading="lazy"
                allowfullscreen></iframe>
{% else %}
        <iframe src="{{ data.embed }}" width="{{ data.width }}" height="{{ data.height }}"
                class="mx-auto w-2/3 h-150 border-none rounded-lg shadow-xl"
                title="{{ data.service|title }} Post"
                allowfullscreen></iframe>
{% endif %}
</div>
