{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
  {% if original %}
    {% if original.sale_case %}
      <li><a href="{% url 'admin:reservations_animalsalecase_change' original.sale_case.pk %}">{% translate "Open sale process" %}</a></li>
    {% endif %}
    {% if original.charge %}
      <li><a href="{% url 'admin:reservations_charge_change' original.charge.pk %}">{% translate "Open charge" %}</a></li>
    {% endif %}
    {% if original.status == 'awaiting_review' %}
      <li><a href="{% url 'admin:reservations_prereservation_accept' original.pk %}">{% translate "Accept" %}</a></li>
      <li><a class="deletelink" href="{% url 'admin:reservations_prereservation_reject' original.pk %}">{% translate "Do not accept" %}</a></li>
    {% endif %}
    {% if original.status == 'pending_payment' or original.status == 'awaiting_review' or original.status == 'accepted' %}
      <li><a class="deletelink" href="{% url 'admin:reservations_prereservation_cancel' original.pk %}">{% translate "Cancel" %}</a></li>
    {% endif %}
  {% endif %}
  {{ block.super }}
{% endblock %}
