{% load i18n %}

{% for dog in dogs %}
<div class="relative bg-white dark:bg-stone-800 rounded-lg shadow-lg overflow-hidden transform transition-all duration-300 hover:scale-105 flex flex-col">
    <!-- Dog Image -->
    <div class="relative">
        {% if dog.cover %}
        <img src="{{ dog.cover.file.url }}" alt="{{ dog.name }}" class="w-full h-64 object-cover" loading="lazy">
        {% else %}
        <div class="w-full h-64 bg-stone-200 dark:bg-stone-700 flex items-center justify-center">
            <span class="text-stone-500 dark:text-stone-400">{% translate "No Image Available" %}</span>
        </div>
        {% endif %}

        <!-- Badges -->
        {% if dog.sold_at %}
        <div class="absolute top-2 right-2 bg-red-700 dark:bg-red-400 text-white text-xs font-bold px-3 py-1 rounded-lg shadow-lg">
            {% translate "Sold" %}
        </div>
        {% elif dog.discount_in_euros %}
        <div class="absolute top-2 right-2 bg-yellow-800 dark:bg-yellow-400 text-white text-xs font-bold px-3 py-1 rounded-lg shadow-lg">
            {% translate "On Sale" %}
        </div>
        {% endif %}
    </div>

    <!-- Dog Details -->
    <div class="p-6 flex flex-col flex-grow">
        <h3 class="text-xl font-serif font-bold text-stone-900 dark:text-white">{{ dog.name }}</h3>
        <p class="text-sm text-stone-600 dark:text-stone-300 mt-2">{{ dog.breed.name }}</p>

        <!-- Icons for Gender, Birthdate, Certifications, and Training -->
        <div class="mt-4 space-y-4">
            <!-- Gender Icon -->
            <div class="flex items-center space-x-2">
                {% if dog.gender == 'M' %}
                {% include "icons/genders/male.html" with class="size-6" %}
                <span class="text-sm text-stone-700 dark:text-stone-300">{% translate "Male" %}</span>
                {% elif dog.gender == 'F' %}
                {% include "icons/genders/female.html" with class="size-6" %}
                <span class="text-sm text-stone-700 dark:text-stone-300">{% translate "Female" %}</span>
                {% else %}
                {% include "icons/genders/ambiguous.html" with class="size-6" %}
                <span class="text-sm text-stone-700 dark:text-stone-300">{% translate "Unknown" %}</span>
                {% endif %}
            </div>

            <!-- Birthdate Icon -->
            <div class="flex items-center space-x-2">
                {% include "icons/cake.html" %}
                <span class="text-sm text-stone-700 dark:text-stone-300">{{ dog.birth_date|date:"M d, Y" }}</span>
            </div>

            <!-- Training Icon -->
            {% if dog.has_training %}
            <div class="flex items-center space-x-2">
                {% include "icons/dog_training.html" %}
                <span class="text-sm text-stone-700 dark:text-stone-300">{% translate "Trained" %}</span>
            </div>
            {% endif %}

            <!-- Certifications Icon -->
            {% if dog.certifications.exists %}
            <div class="flex items-center space-x-2">
                {% include "icons/academic_cap.html" %}
                <span class="text-sm text-stone-700 dark:text-stone-300">{% translate "Certified" %}</span>
            </div>
            {% endif %}
        </div>

        <div class="mt-auto">
            <!-- Price / Sold Message -->
            <div class="mt-4">
                {% if dog.sold_at %}
                <p class="text-lg font-bold text-red-800 italic dark:text-red-400">
                    {% translate "Sold" %}
                </p>
                {% elif dog.price_in_euros %}
                <p class="text-lg font-bold text-stone-700 dark:text-stone-300">
                    {% if dog.discount_in_euros %}
                    <span class="line-through text-stone-700 dark:text-stone-300">{{ dog.price_in_euros }}€</span>
                    <span class="text-yellow-800 dark:text-yellow-400">{{ dog.current_price_in_euros }}€</span>
                    {% else %}
                    {{ dog.price_in_euros }}€
                    {% endif %}
                </p>
                {% else %}
                <p class="text-lg font-bold italic text-yellow-800 dark:text-yellow-400">
                    <span>{% translate "Call for Pricing" %}</span>
                </p>
                {% endif %}
            </div>

            <!-- Details Button -->
            <div class="pt-6">
                <a href="{% url 'dog_detail' dog.pk %}" class="w-full bg-stone-700 text-white px-4 py-2 rounded-lg hover:bg-stone-600 transition duration-300 block text-center">
                    {% translate "View Details" %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
