{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}" class="{% if theme == 'dark' %}dark{% endif %}">
<head>
  {% load static i18n %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% get_current_language as LANGUAGE_CODE %}
  
  {# Dynamic structured data based on language #}
  <script type="application/ld+json">
      {% if LANGUAGE_CODE == "pt" %}
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Fortissimus Bellator",
        "description": "Criadores profissionais de cães em Portugal especializados em Pastor Alemão, Pastor Belga Malinois e Spitz Alemão.",
        "url": "https://fortissimusbellator.pt",
        "logo": "{% static 'imgs/logo.svg' %}",
        "image": "{% static 'imgs/home.webp' %}",
        "telephone": "+351924454382",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Rua Quinta dos Frades, 904",
          "addressLocality": "Leiria",
          "addressRegion": "Leiria",
          "postalCode": "2400-821",
          "addressCountry": "PT"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 39.7054288,
          "longitude": -8.8573286
        },
        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "09:00",
          "closes": "18:00"
        },
        "sameAs": [
          "https://www.facebook.com/afixodefortissimusbellator",
          "https://www.instagram.com/fortissimus_bellator/"
        ]
      }
      {% else %}
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Fortissimus Bellator",
        "description": "Professional dog breeders in Portugal specializing in quality breeds such as German Shepherds, Belgian Malinois, and German Spitz.",
        "url": "https://fortissimusbellator.pt",
        "logo": "{% static 'imgs/logo.svg' %}",
        "image": "{% static 'imgs/home.webp' %}",
        "telephone": "+351924454382",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Rua Quinta dos Frades, 904",
          "addressLocality": "Leiria",
          "addressRegion": "Leiria",
          "postalCode": "2400-821",
          "addressCountry": "PT"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 39.7054288,
          "longitude": -8.8573286
        },
        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "09:00",
          "closes": "18:00"
        },
        "sameAs": [
          "https://www.facebook.com/afixodefortissimusbellator",
          "https://www.instagram.com/fortissimus_bellator/"
        ]
      }
      {% endif %}
  </script>
  
  {# Dynamic meta tags #}
  {% if LANGUAGE_CODE == "pt" %}
      <meta name="description" content="Criadores profissionais de cães em Portugal. Especializados em Pastor Alemão, Pastor Belga Malinois e Spitz Alemão. Contacte-nos já!">
      <meta name="keywords" content="criadores de cães, criadores cães portugal, pastor alemão, malinois, spitz alemão, criador de cães, cães de raça, cães em Leiria, cães em Portugal, criador de pastor alemão, criador de malinois, criador de spitz alemão">
      <meta property="og:title" content="Criadores de Cães em Portugal | Fortissimus Bellator">
      <meta property="og:description" content="Encontre criadores de cães profissionais em Portugal com raças premium. Contacte-nos hoje mesmo!">
  {% else %}
      <meta name="description" content="Professional premium dog breeders in Portugal. Criadores de cães especializados com raças de qualidade. Contact us today!">
      <meta name="keywords" content="dog breeder, criadores cães portugal, portuguese dog breeders, cães de raça, malinois, german shepherd breeder, belgian malinois breeder, german spitz breeder, criadores de pastor alemão, criadores de malinois, criadores de pastores belgas malinois, criadores de spitz alemão">
      <meta property="og:title" content="Dog Breeder in Portugal | Criadores de Cães em Portugal">
      <meta property="og:description" content="Find professional dog breeders in Portugal offering premium quality breeds. Contact us now!">
  {% endif %}
  
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://fortissimusbellator.pt" />
  
  <meta property="og:url" content="https://fortissimusbellator.pt">
  <meta property="og:image" content="{% static 'imgs/logo.svg' %}">
  
  <title>Fortissimus Bellator | {% translate "Dog Breeder in Portugal" %}</title>
  
  <link rel="shortcut icon" type="image/png" href="{% static 'imgs/favicon/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block styles %}{% endblock %}
</head>
<body class="bg-stone-50 dark:bg-stone-900 text-stone-900 dark:text-white flex flex-col min-h-screen">
    <!-- Navbar -->
    {% include "components/navbar.html" %}

    <!-- Messages -->
    {% include "components/messages.html" %}

    <!-- Main Content -->
    <main class="flex-grow {% if request.path != '/' %}pt-16{% endif %}"> <!-- Add pt-16 to account for the navbar height -->
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include "components/footer.html" %}

    <!-- Scroll Top -->
    {% include "components/scroll-top.html" %}

    <!-- Scripts -->
    <script src="{% static 'js/components/navbar.js' %}"></script>
    <script src="{% static 'js/components/messages.js' %}"></script>
    <script src="{% static 'js/components/scroll-top.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>